 {% extends "layout.html" %}
{% block content %}
<center>
    <img src= {{image_file}} width = "30%" height = "30%">

    <!-- JUMBOTRON -->
    <div class="jumbotron" scale = 70%>
      <h1 class="display-4">About Me</h1>
      <p class="lead">My name is Case Delst, and I currently attend UCSC as a prospective Computer Science major.  I aspire to become a well-rounded, knowledgable programmer in my life, and I firmly believe that CS is my path.  My ultimate goal is to do meaningful, worthwhile work in whatever I end up applying myself in. <br><br>

      Outside of CS, I am interested in graphic design (There is a link in this website if you are interested), sports of any kind, and spending time with the people I value.  I enjoy many physical activities such as weightlifting and hiking, as well as occasionally struggling through the creation of websites (quite similar to this one), written in languages that are largely new to me. <br><br>

      I consider myself a hardworking, quality-focused student, and I believe that that will transfer directly to a working environment.    </p>
    </div>
</center>

{% endblock content %}
