{% extends "layout.html" %}
{% block content %}



<h1 style="color: #613942; padding: 10px"> Blog! </h1>
    <div class="list-group" >
      <div style="float:left">
        <a href="/blog/cruzhacks" class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
          <img src={{CruzHacks}} alt="CruzHacks Image" style="float:right; width:150px; padding:-10px">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="float:left">CruzHacks 2019</h5>
          </div>
          <p class="mb-1" style="float:left">
              A 36-hour hackathon event hosted by UCSC
          </p>

          <small style="padding:20px">1/21/19</small>
        </a>

      </div>

    </div>


{% endblock content %}
