{% extends "layout.html" %}
{% block content %}

<h1 style="color: #613942; padding: 20px"> Blog! </h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Coming Soon</h5>
        </div>
        <p class="mb-1">
            Filler
        </p>
        <small>January 2019</small>
      </a>
    </div>

{% endblock content %}
