{% extends "layout.html" %}
{% block content %}

<!-- IMAGES HAVE TO BE 700 x 300 ratio-->
<!-- Project One -->
<div class="row" style="padding-top: calc(50px + 1%);">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{cruzhacks}}" alt="this didnt work">
      </a>
    </div>
    <div class="col-md-5">
      <h2 style="color: #613942">CruzHacks 2019</h2>
      <p>A 36-hour hackathon even hosted by UCSC. </p>
      <a href="/blog/cruzhacks">
        <button type="button" class="location-button">Read more!</button>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row" style="padding-bottom: calc(50px + 1%)">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{FitByte}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
        <h2 style="color: #613942">FitByte</h2>
      <p>A custom data collection app with the focus of analyzing and building off of my personal health data.</p>
      <a href="/blog/fitbyte">
        <button type="button" class="location-button">Read more!</button>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>


</div>

{% endblock content %}
