{% extends "layout.html" %}
{% block content %}
<center>

    <!-- JUMBOTRON -->
    <div class="jumbotron">
      <h1 class="display-4">Case Delst</h1>
      <p class="lead">An undergraduate at the University of California: Santa Cruz, studying Computer Science at the Baskin School of Engineering.</p>
      <hr class="my-4">
      <p>This is a website to show off future projects, and writings of my adventures in the CS world. Click to learn more!</p>
      <p class="lead">
        <b>Contact info:</b><br>
        Email: <a href="mailto:casedelst@gmail.com" target="_top">Casedelst@gmail.com</a> (Mailto Link)<br>
        Github: <a target="_blank" rel="noopener noreferrer" href="https://github.com/CaseDelst">CaseDelst</a>(Currently Unpopulated)<br>
        Instagram: <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/casedelst/">casedelst</a><br>
        LinkedIn: <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/casedelst/">Case Delst</a>


      </p>
    </div>
</center>
{% endblock content %}
