{% extends "layout.html" %}
{% block content %}
<center>

    <!-- JUMBOTRON -->
    <div class="jumbotron">
      <h1 class="display-4"><b>Case Delst</b></h1>
      <p class="lead">
        <!--<b>Contact info:</b><br>-->
        
        <a href="mailto:casedelst@gmail.com" target="_top">
          <img src={{email}} alt="Email PNG" style="width:35px;height:35px;border:0;">
        </a>

        <a target="_blank" rel="noopener noreferrer" href="https://github.com/CaseDelst">
          <img src={{github}} alt="Github PNG" style="width:35px;height:35px;border:0;">
        </a>

        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/casedelst/">
          <img src={{instagram}} alt="Instagram PNG" style="width:35px;height:35px;border:0;">
        </a>

        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/casedelst/">
          <img src={{linkedin}} alt="LinkedIn PNG" style="width:35px;height:35px;border:0;">
        </a>


      </p>
      <p class="lead">An undergraduate at the University of California: Santa Cruz, double majoring in Computer Science and Technology and Information Management at the Baskin School of Engineering.</p>
      <hr class="my-4">
      <p>This is a website to show off future projects, and writings of my adventures in the CS world. Click to learn more!</p>
      
    </div>
</center>
{% endblock content %}
