

{% extends "layout.html" %}
{% block content %}
<center>
    
    <!-- JUMBOTRON -->
    <div class="jumbotron">
        <h1 class="display-4">Travel History</h1>
        <p class="lead">In order for this page to give accurate and up-to-date results, you need to click "Update Location".</p>
        <hr class="my-4">
        <p>As of now, you have 5 options: All, Year, Month, Week and Day</p>
        <p>The ability to specify a range of values and create custom ranges is coming soon. . .</p>
    </div>
    <!--
    <a href='/location/refresh'>
        <button type="button" class="location-button">Refresh Location</button>
    </a>
    -->

    <div style="padding:15px">
        
        <a href='/location/all'>
            <button type="button" class="location-button">All-Time</button>
        </a>
        
        <a href='/location/year'>
            <button type="button" class="location-button">Year</button>
        </a>

        <a href='/location/month'>
            <button type="button" class="location-button">Month</button>
        </a>

        <a href='/location/week'>
            <button type="button" class="location-button">Week</button>
        </a>

        <a href='/location/day'>
            <button type="button" class="location-button">Day</button>
        </a>

    </div>

</center>
{% endblock content %}
