{% extends "layout.html" %}
{% block content %}








<h1 style="color: #613942; padding-top: calc(50px + 1%)">Projects!</h1>

<div class="row" style="padding-bottom: calc(50px + 1%); ">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100" style="border-color: #613942;">
        <a href="https://github.com/CaseDelst/Casedelst.com"><img class="card-img-top" src={{website}} alt="Website Image"></a>
        <div class="card-body">
          <h3 style="color: #cccccc" class="card-title">
            Casedelst.com
          </h3>
          <p class="card-text">My first project, this website, which I have been adding to since I created it in the Winter of 2018.</p>
          <p class="card-text">Click to see the project repository. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100" style="border-color: #613942;">
        <a href="https://github.com/slugbus"><img class="card-img-top" src={{slugbus}} alt="Slug Bus Image"></a>
        <div class="card-body">
          <h3 style="color: #cccccc" class="card-title">
              Bus++
          </h3>
          <p class="card-text">A loop-bus tracking app developed mostly during the 2019 CruzHacks event.</p>
          <p class="card-text">Click to see the project repository. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100" style="border-color: #613942;">
          <a href="https://github.com/CaseDelst/FitByte"><img class="card-img-top" src={{fitbit_project}} alt="FitByte Image"></a>
          <div class="card-body">
            <h3 style="color: #cccccc" class="card-title">
                FitByte
            </h3>
            <p class="card-text">A data collector and analyzer fueled by my fitbit.  Made with Python.</p>
            <p class="card-text">Click to see the repository.</p>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100" style="border-color: #613942;">
        <a href="https://github.com/CaseDelst/Pinger"><img class="card-img-top" src={{ping}} alt="Pinger Image"></a>
        <div class="card-body">
          <h3 style="color: #cccccc" class="card-title">
              Pinger
          </h3>
          <p class="card-text">A ping visualizer written in Python using matplotlib.</p>
          <p class="card-text">Click to see the project repository.</p>
        </div>
      </div>
    </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}
