{% extends "layout.html" %}
{% block content %}

    <div class="list-group">
      <a href="https://github.com/CaseDelst/flask-website" class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Casedelst.com</h5>
        </div>
        <p class="mb-1">
            The personal website i built that you are looking at right now.
        </p>
        <small>January 2019</small>
      </a>

      <a href="/portfolio" class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Graphic Design</h5>
        </div>
        <p class="mb-1">
            Paid and Unpaid projects in Graphic Design
        </p>
        <small>2016 - Present</small>
      </a>
    </div>

    <h1 style="padding: 50px; color: #613942;">More to come!</h1>

{% endblock content %}
